* {
    margin: 0;
    padding: 0;
}

/* 헤더 */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: #fff;
}

header .jlucy_logo {
    text-indent: -9999px;
    background: url(../img/jlucy-logo.png);
    background-repeat: no-repeat;
}

/* 공통 */
#section {
    height: 100vh;
}

/* section1 */
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section1 .text_box {
    margin-left: 20px;
}


.section1 .text_box p {
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
}

.section1 .img_box .sec1_bg {
    width: 80%;
    float: right;
    margin-right: 20px;
}


/* section8 */

.section8 {
    background: rgb(108, 108, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section8 .container {
    border: 1px solid #fff;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.section8 .container img {
    width: 60%;
    margin: 0 auto;
}

.section8 .container.adv {
    
}

.section8 .container:nth-child(odd) {
    background-color: #fff;
}


.section8 .container.jlucy {
    color: #fff;
}