/* font */
@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansLight";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

/* header */
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#wrap {
    position: relative;
}
.scroll {
    display: inline-block;
    position: absolute;
    background: red;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "GmarketSansMedium";
}
p {
    font-family: "GmarketSansMedium";
}

span {
    font-family: "GmarketSansBold";
}
#header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 10vh;
    top: 0;
    padding: 2%;
}

.header {
    transition: 0.5s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.char {
    /* background: rgba(255, 255, 255, 0.5); */
}
#header .jlucy-logo {
    background: url("../img/jlucy-logo.png");
    width: 5%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
    cursor: pointer;
}

.jlucy-menu {
    padding-right: 15%;
    padding-bottom: 3%;
}

#header .jlucy-menu ul {
    display: flex;
    justify-items: center;
    align-items: center;
}

.jlucy-menu li {
    padding: 0px 20px 0px;
    font-size: 1.2vw;
}

.jlucy-menu li:nth-child(1) {
    margin-right: 5vw;
}

.section {
    height: 100vh;
    max-height: 100%;
}

/* section1 */

#section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
    margin: 0 auto;
    width: 72vw;
}

#section1 .txt-box {
    font-size: 3.5vw;
    font-weight: bold;
}

#section1 .txt-box p {
    padding: 5px;
    opacity: 0;
    font-family: "GmarketSansBold";
}

#section1 .txt-box .link-box {
    opacity: 0;
}

#section1 .txt-box .link-box a {
    padding: 10px 30px;
    border-radius: 15px;
    border: 2px solid rgb(136, 132, 132);
    color: #000;
    transition: 0.3s linear;
    font-size: 1.3vw;
}

#section1 .txt-box p:nth-child(6) {
    color: rgb(108, 108, 255);
    font-size: 1.7vw;
}

#section1 .txt-box p:nth-child(7) {
    font-family: "GmarketSansLight";
    font-size: 1.3vw;
    margin-top: -10px;
}

#section1 .txt-box .link-box .part1:hover {
    background: #ccc;
}

#section1 .txt-box .link-box .part2:hover {
    background: #555;
}

#section1 .sec1-bg {
    width: 35vw;
    height: 60vh;
    transform: translateX(100px);
    background-image: url("../img/section1-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

/* section2 */

#section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(88, 88, 255);
}

#section2 .txt-box {
    padding-left: 14vw;
    height: 70vh;
    color: #fff;
}

#section2 .txt-box h2 {
    font-size: 3.5vw;
    font-family: "GmarketSansBold";
    line-height: 1.2;
}

#section2 .txt-box .data-box {
    padding-top: 30px;
}

.data-box h3 {
    font-size: 1.6vw;
    font-family: "GmarketSansMedium";
}

.data-box h3::before {
    content: "";
    display: inline-block;
    background: url("../img/check.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 3vw;
    height: 1.5vw;
    text-indent: -9999px;
}

.data-box p {
    font-size: 1.2vw;
    text-indent: 3vw;
}

.data-box p b {
    font-size: 2vw;
}

#section2 .txt-box h4 {
    font-size: 2vw;
    padding-top: 100px;
}

#section2 .data-box .sec2-data {
    font-size: 3vw;
}

#section2 .data-box .effect {
    font-weight: bold;
}

/* section3 */

#section3 {
    background-image: url("../img/section3-bg.png");
    background-origin: border-box;
    background-repeat: no-repeat round;
    background-size: 101vw;
    position: relative;
}

#section3 h2 {
    color: rgb(88, 88, 255);
    font-size: 4vw;
    position: absolute;
    left: 50%;
    top: calc(50% - 100px);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    font-family: "GmarketSansBold";
    line-height: 1.2;
    letter-spacing: 50;
}

#section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section4 .txt-box {
    width: 35vw;
    padding-right: 5vw;
    opacity: 0;
}
.txt-box strong {
    font-size: 2vw;
    font-family: "GmarketSansBold";
}

#section4 .txt-box h2 {
    font-size: 3vw;
    color: rgb(88, 88, 255);
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 2px solid #000;
    font-family: "GmarketSansBold";
    line-height: 1.2;
}
#section4 .txt-box p {
    font-size: 1.2vw;
    padding-top: 20px;
}

#section4 .sec4-bg {
    width: 30vw;
    height: 50vh;
    background: url("../img/section4-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#section5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section5 .txt-box {
    width: 35vw;
    padding-right: 5vw;
    opacity: 0;
}
#section5 .txt-box h2 {
    font-size: 3vw;
    color: rgb(88, 88, 255);
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 2px solid #000;
    line-height: 1.2;
    font-family: "GmarketSansBold";
}
#section5 .txt-box p {
    font-size: 1.2vw;
    padding-top: 20px;
}

#section5 .sec5-bg {
    width: 30vw;
    height: 50vh;
    background: url("../img/section5-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0;
    opacity: 0;
}

#section6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section6 .txt-box {
    width: 35vw;
    padding-right: 5vw;
    opacity: 0;
}
#section6 .txt-box h2 {
    font-size: 3vw;
    color: rgb(88, 88, 255);
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 2px solid #000;
    line-height: 1.2;
    font-family: "GmarketSansBold";
}
#section6 .txt-box p {
    font-size: 1.2vw;
    padding-top: 20px;
}

#section6 .sec6-bg {
    width: 30vw;
    height: 50vh;
    background: url("../img/section6-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0;
    opacity: 0;
}

/* section5 */

#section7 {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

#section7 h2 {
    color: rgb(88, 88, 255);
    font-size: 4vw;
    position: absolute;
    left: 50%;
    line-height: 1.2;
    top: calc(50% - 100px);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    font-family: "GmarketSansBold";
}

#section8,
#section9 {
    display: flex;
}

#section8 .user {
    text-align: center;
    font-size: 40px;
    padding-top: 10%;
    opacity: 0;
    transform: translateY(100px);
}

#section8 .part-adv {
    width: 50vw;
    height: 100vh;
    max-width: 50%;
    background: rgb(255, 255, 255);
}

#section8 .part-sell {
    width: 50vw;
    max-width: 50%;
    height: 100vh;
    background: rgb(88, 88, 255);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section9 .user {
    text-align: center;
    font-size: 40px;
    padding-top: 10%;
}

#section9 .part-adv {
    width: 50vw;
    height: 100vh;
    max-width: 50%;
    background: rgb(255, 255, 255);
}

#section9 .part-sell {
    width: 50vw;
    max-width: 50%;
    height: 100vh;
    background: rgb(88, 88, 255);
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.adv-img,
.jlucy-img {
    width: 25vw;
    height: 25vw;
    transform: translateX(12vw) translateY(100px);
    opacity: 0;
    margin-top: 10%;
}

.adv-img2,
.jlucy-img2 {
    width: 20vw;
    height: 25vw;
    transform: translateX(14vw) translateY(100px);
    opacity: 0;
    margin-top: 3%;
    margin-left: 3vw;
}

#section9 h3,
#section9 h4 {
    text-align: center;
    font-size: 2vw;
    transform: translateY(100px);
    opacity: 0;
}
#section9 p {
    text-align: center;
    padding-top: 20px;
    font-size: 1.3vw;
    transform: translateY(100px);
    opacity: 0;
}

/* .sec5-container:nth-child(2) .part-adv .adv-img {
    background: url("../img/adv-img2.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50%;
    height: 70vh; 
    margin: 0 auto;
    padding-top: 10%;
}
.sec5-container:nth-child(2) .part-sell .jlucy-img {
    background: url("../img/jlucy-img2.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    padding-top: 10%;
} */

.part-adv .user {
    color: rgb(88, 88, 255);
}

.part-sell .user {
    color: #fff;
}

/* #section5 .play-button {
    position: relative;
    top: calc(50% - 100px);
    right: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1000;
    background: rgb(182, 48, 48);
}

#section5 .play-arrow {
    position: relative;
    top: calc(50% - 50px);
    right: calc(50% - 180px);
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 60px solid rgb(255, 255, 255);
    z-index: 1100;
} */

/* section6 */

#section10,
#section11,
#section12 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#section11 {
    background: rgb(88, 88, 255);
    color: #fff;
}

.partnerShip {
    width: 50vw;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(100px);
}
.partnerShip1-bg {
    background: url("../img/adv-02.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    height: 20vh;
    margin: 50px auto;
    padding: 50px;
}
.partnerShip2-bg {
    background: url("../img/adv-03.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    height: 20vh;
    margin: 50px auto;
    padding: 50px;
}
.partnerShip3-bg {
    background: url("../img/adv-04.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    height: 20vh;
    margin: 50px auto;
    padding: 50px;
}

.partnerShip h4 {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

.partnerShip h3 {
    text-align: center;
    font-size: 2.2vw;
    padding: 20px 0px 20px 0px;
    font-weight: bold;
}
.partnerShip p {
    text-align: center;
    font-size: 1.2vw;
    font-family: "GmarketSansMedium";
}

.time {
    font-family: "noto-sans", sans-serif;
    color: #ccc;
}

/* footer */

/* navigation */

.navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
}
.navigation ul {
    list-style: none;
}
.navigation li {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2px 2px;
}
.navigation li a {
    background-color: white;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    display: block;
    transition: 0.2s ease;
    border: 1px solid #000;
    transform: scale(0.7);
}

.navigation li.active a {
    width: 20px;
    height: 60px;
    border-radius: 15px;
}
.navigation li.active {
    padding-top: 6px;
    padding-bottom: 40px;
}
.navigation li.active a {
    background-color: rgb(78, 93, 255);
}

.navigation li:hover a {
    background-color: #ccc;
}
#section13 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(88, 88, 255);
}
#section13 .contact-container {
    flex: 1 0 0;
    width: 40vw;
    height: 100vh;
    flex-direction: column;
}

#section13 .contact-container h3 {
    /* text-align: center; */
    font-size: 3vw;
    color: #fff;
    padding: 12% 0 5% 10%;
}
#section13 .contact-container p {
    /* text-align: center; */
    padding-left: 5%;
}

#section13 form {
    padding: 10% 10px 0px 40px;
    width: 40vw;
    max-width: 40%;
    height: 60vh;
    border-radius: 20px;
    margin: 0 auto;
    transform: translateY(70vh);
    position: absolute;
    right: 10%;
    top: 10%;
    background: #fff;
}

#focus {
    border: 3px solid #fef6fb;
    box-shadow: 0 0 10px 0 #d09b52;
    position: absolute;
    transition: width 0.2s ease, height 0.2s ease, left 0.2s ease, top 0.2s ease,
        border-radius 0.2s ease;
    pointer-events: none;
    z-index: 5;
    border-radius: 10px;
    display: none;
}

input {
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s ease;
    color: #868283;
    background: #e5e7ff;
}
input[type="text"] {
    width: calc(90% - 30px);
    margin-bottom: 30px;
    border: 2px solid #fff;
}
input[type="text"]:placeholder-shown {
    border: 2px solid #eae4da;
}
input[type="text"]::placeholder {
    color: #a3a5aa;
}
input[type="text"][half] {
    width: calc(50% - 30px);
    float: left;
    margin-right: 30px;
}

input[type="button"] {
    background: #d09b52;
    color: #eae4da;
    border: 2px solid #d09b52;
    outline: 10px solid #fff;
    width: calc(30% - 30px);
    height: 40px;
    margin: 0 5px -20px 0;
    float: right;
    font-weight: 800;
    font-size: 0.7em;
    letter-spacing: 1.8pt;
    text-transform: uppercase;
    cursor: pointer;
}
input[type="submit"]:hover {
    outline-width: 100;
}

input[type="text"]:focus {
    border: 2px solid red;
}

input[type="text"]:hover {
    outline: 50;
    border: 2px solid #634ef2;
}

/* popup */
#section13 .popup {
    display: none;
    position: inherit;
}
#section13 .active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(187, 187, 187, 0.7);
    transition: all 0.5s;
}

.popup .popup-container {
    width: 20vw;
    height: 20vh;
    background: #fff;
    border-radius: 20px;
    position: relative;
    padding: 20px;
}

.popup-container h3,
.popup-container p {
    text-align: center;
    padding-top: 10px;
}

.popup-container p {
    padding-top: 40px;
}

.popup-container .close {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: rgb(181, 113, 250);
    text-align: center;
}

/* footer */

#footer {
    width: 100vw;
    height: 40vh;
    background: #161616;
}

#footer .footer-container {
    width: 72%;
    margin: 0 auto;
    display: flex;
}

.footer-container .footer-logo {
    background: url("../img/footer-logo.png");
    width: 20%;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.footer-container .txt-box {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.footer-container .txt-box p {
    color: #fff;
    line-height: 2;
}

.footer-container .txt-box .copyright {
    padding-top: 30px;
    color: #585858;
}

@media (max-width: 768px) {
    #section1,
    #section2,
    #section3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #section3 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #section1 .sec1-bg {
        display: none;
    }

    #section13 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #section13 h3,
    #section13 p {
        text-align: center;
    }

    #section13 .contact-container {
        padding-top: 15%;
    }

    #section13 form {
        position: initial;
    }

    .navigation {
        display: none;
    }
}
