/* font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#wrap {
    position: relative;
}
.scroll {
    display: inline-block;
    position: absolute;
    background: red;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GmarketSansMedium';
}
p {
    font-family: 'GmarketSansLight';
}

span {
    font-family: 'GmarketSansBold';
}
#header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 10vh;
    top: 0;
}

.header {
    background: black;
    transition: .5s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.char {
    background: rgba(255, 255, 255, 0.5);
}

#header .header-menu {
    display: flex;
    justify-items: center;
    align-items: center;
}

.header-menu li {
    padding: 0px 20px 0px;
}

.jlucy-sns i {
    padding: 20px;
}

.section {
    height: 100vh;
    max-height: 100%;
}


/* section1 */

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

#section1 .txt-box {
    font-size: 2vw;
    font-weight: bold;
}

#section1 .txt-box p {
    padding: 10px;
    opacity: 0;
    font-family: 'GmarketSansBold';
}

#section1 .txt-box .link-box {
    padding-top: 50px;
    opacity: 0;
}

#section1 .txt-box .link-box a {
    padding: 10px 30px;
    border-radius: 15px;
    border: 2px solid rgb(136, 132, 132);
    color: #000;
    transition: .3s linear;
}

#section1 .txt-box p:nth-child(6){
    color: blue;
}

#section1 .txt-box p:nth-child(7) {
    font-family: 'GmarketSansLight';
}

#section1 .txt-box .link-box .part1:hover {
    background: #ccc;

}

#section1 .txt-box .link-box .part2:hover {
    background: #555;
}


.sec1-bg1 {
    background: url("https://kream.co.kr/_nuxt/img/bg_phone01.4ef915c.png");
    background-size: contain;
    width: 40vw;
    height: 25vw;
    position: absolute;


}
.sec1-bg2 {
    /* background: url("https://kream.co.kr/_nuxt/img/bg_phone02.f8341a1.png"); */
    background-size: contain;
    width: 27vw;
    height: 20vw;
    position: relative;
    bottom: -15%;
    right: 0;
}

/* section2 */

#section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(88, 88, 255);
}

#section2 .txt-box {
    padding-left: 10vw;
    height: 70vh;
    color: #fff;
}

#section2 .txt-box h2 {
    font-size: 3.5vw;
    font-family: 'GmarketSansBold';
}

#section2 .txt-box .data-box {
    padding-top: 30px;
}

.data-box h3 {
    font-size: 1.5vw;
}

.data-box p {
    font-size: 1.2vw;
}

.data-box p b {
    font-size: 2vw;
}

#section2 .txt-box h4 {
    font-size: 2vw;
    padding-top: 100px;
}

#section2 .data-box .sec2-data {
    font-size: 3vw;
}

/* section3 */

#section3 {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

#section3 h2 {
    color: rgb(88, 88, 255);
    font-size: 4vw;
    position: absolute;
    left: 50%;
    top: calc(50% - 100px);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    font-family: 'GmarketSansBold';
}

#section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section4 .txt-box {
    width: 35vw;
    padding-right: 5vw;
    opacity: 0;
}
#section4 .txt-box h2 {
    font-size: 3vw;
    color: rgb(88, 88, 255);;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
    font-family: 'GmarketSansBold';
}
#section4 .txt-box p {
    font-size: 1.2vw;
    padding-top: 20px;
}

#section4 .sec4-bg {
    width: 30vw;
    height: 30vh;
    background: url("https://kream.co.kr/_nuxt/img/bg_info03.cd0ebe8.png");
    background-size: contain;
    opacity: 0;
}

#section4-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section4-2 .txt-box {
    width: 35vw;
    padding-right: 5vw;
    opacity: 0;
}
#section4-2 .txt-box h2 {
    font-size: 3vw;
    color: rgb(88, 88, 255);;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
    font-family: 'GmarketSansBold';
}
#section4-2 .txt-box p {
    font-size: 1.2vw;
    padding-top: 20px;
}

#section4-2 .sec4-bg {
    width: 30vw;
    height: 30vh;
    background: url("https://kream.co.kr/_nuxt/img/bg_info03.cd0ebe8.png");
    background-size: contain;
    opacity: 0;
}

#section4-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section4-3 .txt-box {
    width: 35vw;
    padding-right: 5vw;
    opacity: 0;
}
#section4-3 .txt-box h2 {
    font-size: 3vw;
    color: rgb(88, 88, 255);;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
    font-family: 'GmarketSansBold';
}
#section4-3 .txt-box p {
    font-size: 1.2vw;
    padding-top: 20px;
}

#section4-3 .sec4-bg {
    width: 30vw;
    height: 30vh;
    background: url("https://kream.co.kr/_nuxt/img/bg_info03.cd0ebe8.png");
    background-size: contain;
    opacity: 0;
}


/* section5 */


#section5-1 {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

#section5-1 h2 {
    color: rgb(88, 88, 255);
    font-size: 4vw;
    position: absolute;
    left: 50%;
    top: calc(50% - 100px);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    font-family: 'GmarketSansBold';
}

#section5 {
    display: flex;
}

#section5 .user {
    text-align: center;
    font-size: 40px;
    padding-top: 10%;
}

#section5 .part-adv {
    width: 50vw;
    height: 100vh;
    max-width: 50%;
    background: rgb(255, 255, 255);
}


#section5 .part-sell {
    width: 50vw;
    max-width: 50%;
    height: 100vh;
    background: rgb(88, 88, 255);
    align-items: center;
    flex-direction: column;
}

.adv-img, .jlucy-img {
    width: 30vw;
    height: 70vh;
    margin: 0 auto;
    transform: translateX(25%);
}

/* .sec5-container:nth-child(2) .part-adv .adv-img {
    background: url("../img/adv-img2.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50%;
    height: 70vh; 
    margin: 0 auto;
    padding-top: 10%;
}
.sec5-container:nth-child(2) .part-sell .jlucy-img {
    background: url("../img/jlucy-img2.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    padding-top: 10%;
} */

.part-adv .user {
    color: rgb(88, 88, 255);
}

.part-sell .user {
    color: #fff;
}

/* #section5 .play-button {
    position: relative;
    top: calc(50% - 100px);
    right: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1000;
    background: rgb(182, 48, 48);
}

#section5 .play-arrow {
    position: relative;
    top: calc(50% - 50px);
    right: calc(50% - 180px);
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 60px solid rgb(255, 255, 255);
    z-index: 1100;
} */


/* section6 */

#section6, #section6-2, #section6-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.partnerShip {
    width: 50vw;
    margin: 0 auto;
}
.partnerShip-bg {
    background: url("https://kream.co.kr/_nuxt/img/bg_info06.88dd177.png");
    background-size: contain;
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
    padding: 50px;
}

.partnerShip h3 {
    text-align: center;
    font-size: 2vw;
    padding-top: 50px;
}
.partnerShip p {
    text-align: center;
    font-size: 1.5vw;
}

/* footer */

#footer {
    width: 100vw;
    height: 30vh;
    background: #ccc;
}

#footer ul {
    padding: 2% 3%;
    border-top: 1px solid #000;
}

#footer ul li {
    display: inline-block;
    padding: 0 5%;
}

#footer .txt-box {
    padding: 2% 3%;
    border-top: 1px solid #000;
}




/* navigation */


.navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
  }
  .navigation ul {
    list-style: none;
  }
  .navigation li {
    position: relative;
    width: 8px;
    height: 8px;
    margin: 15px 0;
  }
  .navigation li a {
    background-color: white;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    display: block;
    transition: 0.2s ease;
    border: 1px solid #000;
  }

  .navigation li.active {
      width: 10px;
      height: 10px;
  }
  .navigation li.active a {
    background-color: #E57A44;

  }